.rectangle-container {
    width: 75%; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px; 
}

.banner-image {
    width: 100%; 
    height: 275px; 
    border-radius: 10px 10px 0 0; 
}

.main-container {
    display: flex; 
    justify-content: center; 
    align-items: middle; 
    height: 80vh; 
}

.centered-rectangle {
    width: 400px; 
    height: 600px; 
    background-color: gray; 
    margin-right: 11%; 
    margin-left: 11%;
}

.small-rectangle {
    width: 200px; 
    height: 450px; 
    background-color: orangered; 
}
.small-rectangle2 {
    width: 200px; 
    height: 450px; 
    background-color: green; 
}

.cb-container {
    display: flex; 
    justify-content: center; 
    align-items: middle; 
    height: 10vh; 
}

.checkbox {
    width: 35px;
    height: 35px;
    background-color: blueviolet;
}

.link {
    color: white;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: middle;
    height: 10vh;
}

.next-button {
    align-items: middle;
    height: 30px;
    width:60px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.progress {
    display: flex;
    justify-content: center;
    align-items: middle;
    height: 10vh;
}

.progress-bar {
    height: 25px;
    width: 700px;
    background-color: gray;
}

.progress-square {
    height: 24px;
    width: 175px;
    background-color: green;
}

.page {
    background-color: black;
}